@font-face{
    font-family: Geomanist;
    src: url(/assets/font/Geomanist-Black#2\ \(1\).otf);
}

h1{
    margin-left: 5%;
    font-size: xx-large;
    margin-top: 0%;
    color: black;
}

#box{
    height: 400px;
    width: 600px;
    border: solid;
    color: #95c11f 3px;
    margin-top: 2%;
    margin-left: 2%;
    overflow: hidden;
    position: relative;
    display: flex;
}

#box div{
    display: flex;
    flex-direction: column;
}

#box div div{
    height: 40px;
    width: 30px;
    margin: 0%;
}

#start{
    background-color: #95c11f;
    font-family: Geomanist;
    font-size: medium;
    font-weight: bold;
    border: solid #95c11f 3px;
    height: 50px;
    width: 108px;
    margin-left: 9%;
    margin-top: 2%;
    border-radius: 25px;
    cursor: pointer;
}

#score{
    font-size: larger;
    text-align: right;
    top: 0%;
    left: 10%;
}