

h1{
    margin-left: 5%;
    font-size: large;
    margin-top: 0%;
    color: black;
}

#box{
    height: 600px;
    width: 1200px;
    border: solid;
    color: #95c11f 3px;
    margin-top: 2%;
    margin-left: 2%;
    overflow: hidden;
    position: relative;
    display: flex;
}

#box div{
    display: flex;
    flex-direction: column;
}

#box div div{
    height: 40px;
    width: 30px;
    margin: 0%;
}

#start{
    background-color: #95c11f;
    font-size: medium;
    font-weight: bold;
    border: solid #95c11f 3px;
    height: 50px;
    width: 108px;
    margin-left: 9%;
    margin-top: 2%;
    border-radius: 25px;
    cursor: pointer;
}

#score{
    font-size: larger;
    position: absolute;
    top: 12%;
    left: 2%;

}